.Weather {
  font-family: Arial, sans-serif;
  color: rgb(135, 135, 135);
  padding: 14px;
  margin: 30px auto;
  border-radius: 4px;
}

.Weather .search {
  background-color: #2a5298;
  color: #d299c2;
}

.Weather .search:hover {
  background-color: #d299c2;
  color: #2a5298;
}

.Weather h1 {
  font-size: 2.2rem;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.Weather img {
  height: 64px;
  width: 64px;
  display: inline-block;
  margin-right: 10px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style-type: none;
}

.Weather .temperature {
  font-weight: 400;
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 64px;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}

.gradient {
  margin-top: 20px;
  background: linear-gradient(
    90deg,
    rgba(170, 72, 169, 1) 0%,
    rgba(167, 18, 213, 1) 17%,
    rgba(152, 80, 238, 1) 33%,
    rgba(164, 164, 223, 1) 50%,
    rgba(157, 185, 230, 1) 62%,
    rgba(134, 251, 251, 1) 100%
  );
  height: 2px;
}
