.Weather {
  font-family: Arial, sans-serif;
  color: rgb(135, 135, 135);
  padding: 14px;
  margin: 30px auto;
  border-radius: 4px;
  max-width: 600px;
}

.Weather h1 {
  font-size: 2.2rem;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.Weather img {
  height: 64px;
  width: 64px;
  display: inline-block;
  margin-right: 10px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style-type: none;
}

.Weather .temperature {
  font-weight: 400;
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 64px;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
  margin-left: 5px;
}
